/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12/10/2023, 07:00:30 PM
    Author     : Usuario
*/

/* Estilos para el BANNER*/
.fondo-banner{
    background: url(../images/dolar.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 80px 40px;
}
.banner{
    width: 80%;
    margin: auto;
    color: white;
} 
.text-banner{
    text-align: center;
    color: white;
    position: relative;
}
.text-banner h1{
    font-size: 35px;
}
.text-banner p{
    text-align: center;
}
main{
    padding: 20px 0px;
    background: rgb(238, 219, 219);
}
.main{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
aside{
    width: 350px;
    position: relative;
    margin-bottom: 10px;
}
.label{
    text-align: center;
    color: palevioletred;
    font-size: 40px;
    margin-top: 30px;
}
.cont-aside h3{
    text-align: center;
}
.cont-aside p{
    margin-top: 15px;
    text-align: center;
}